h2 {
    font-family: "Poppins-Bold", sans-serif;
    font-size: var(--font-size-h2);
    margin-bottom: var(--spacing-medium);
}

.container {
    padding: var(--spacing-medium) var(--spacing-small);
}

p {
    margin-bottom: var(--spacing-x-large);
}

@media screen and (min-width: 480px) {
    .container {
        padding: 5rem 5rem;
    }
}

@media screen and (min-width: 768px) {
    .container {
        padding: 5rem 10rem;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        padding: 5rem 20rem;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        padding: 5rem 30rem;
    }
}